/* FOOTER */
// Footer contenedor
footer {
    background-color:$color1;
}

/* Footer general */
.footer {
    background-color:$color1;

    /* Titulo de "Contacto" */
    &__links {
        @include templateFlex(center, flex-start, true);
        padding-left: 25%;
    }

    &__links a {
        color: $colorF;
        margin-bottom: 20px;
        
        @include templateFlex(flex-start, flex-start, false);
    }

    &__links--titulo {
        font-weight: 600;
        font-size: 18px;
        color: burlywood;
        margin-bottom: 40px;
    }

    /* Titulo de "Seguinos" */
    &__redes {
        padding-left: 25%;
    }

    &__redes--titulo {
        font-weight: 600;
        font-size: 18px;
        color: burlywood;
        margin-bottom: 40px;
    }
}

// Columnas contenedor
.pie {
    @include templateGrid(2, 1fr, 1, 1fr, 0%);
    padding: 5%;
}

/* Iconos del footer */
.footericons {
    width: 28px;
    height: 28px; 
    margin-right: 10px;
}


/* TRANSFORMACIONES/ANIMACIONES */
/* FOOTER */
/* Iconos de redes */
.footericons {
    transform: scale(1);
    transition: all 0.2s ease;

    &:hover {
        transform: scale(1.3);
        transition: all 0.2s ease;
    }
    &:active {
        box-shadow: 0px 0px 5px $colorH;
        transition: all 0.1s ease;
    }
}