// breakpoints
$bpSmall: 540px;
$bpMedium: 810px; 
$bpLarge: 992px;

// VARIABLES
$colorF: #ffebcd;
$color1: #5f9ea0;
$colorH: #7fffd4;
$colorL: #008b8b;
$color2: #fffacd;
$acuoso: rgba(35, 240, 255, 0.5);